.car-item{
    display: grid;
    background-color: var(--color-primary);
    border-radius: 2em;
    overflow: hidden;
    /* align-items: center;
    justify-content: space-between; */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: auto;
    padding: 0 3em;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
}

.car-img{
    align-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.car-img img{
   object-fit: contain;
   width: 100%;
}

.car-item h6{
    font-size: 1.2em;
}

.car-item p{
    font-size: 1.1em;
}

.car-item i{
    font-size: 2em;
    text-align: center;
}

#car-item-name{
    overflow: hidden;
    inline-size: 120px;
    text-overflow: clip;
}